<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
        <button pButton pRipple label="Cerrar Sesión" icon="pi pi-sign-out" class="p-button-warning mr-2" (click)="cerrarSesion()"></button>
    </ng-template>
    <ng-template pTemplate="left">
        <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="newDialogUser()"></button>
    </ng-template>
</p-toolbar>

<p-table #dt [value]="users" [rows]="10" [paginator]="true" responsiveLayout="scroll"
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Gestión usuarios</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Identificación <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="created_date">Fecha creacion <p-sortIcon field="created_date"></p-sortIcon></th>
            <th pSortableColumn="delete">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td  layout-align="center"><button pButton disabled class="p-button-sm {{(user.status == 1 ? 'p-button-success p-badge-success' : 'p-button-danger p-badge-danger')}}">{{(user.status == 1) ? 'ACTIVO' : 'INACTIVO'}}</button></td>
            <td>{{user.created_date}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDialogUser(user)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteDialogUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="newUserDialog" [style]="{width: '450px'}" header="Registrar nuevo usuario" [modal]="true" styleClass="p-fluid">
    <div class="field">
        <label for="newId">Identificación</label>
        <input type="text" pInputText id="newId" [(ngModel)]="newUser.id" required autofocus />
        <small class="p-error" *ngIf="!newUser.id">Identificación es requerido.</small>
    </div>
    <div class="field">
        <label for="newName">Nombre</label>
        <input type="text" pInputText id="newName" [(ngModel)]="newUser.name" required autofocus />
        <small class="p-error" *ngIf="!newUser.name">Nombre es requerido.</small>
    </div>
    <div class="field">
        <label for="newName">Email</label>
        <input type="text" pInputText id="newEmail" [(ngModel)]="newUser.email" required autofocus />
        <small class="p-error" *ngIf="!newUser.email">Email es requerido.</small>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="newDialogUser()"></button>
        <button pButton pRipple label="Registrar" icon="pi pi-check" class="p-button-text" (click)="registerUser()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editUserDialog" [style]="{width: '450px', height: '600px'}" header="Editar usuario" [modal]="true" styleClass="p-fluid">
    <div class="field">
        <label for="editUser">Identificación</label>
        <input type="text" pInputText id="editUser" [(ngModel)]="selectedUser.id" disabled required autofocus />
        <small class="p-error" *ngIf="!selectedUser.id">Identificación es requerido.</small>
    </div>
    <div class="field">
        <label for="newName">Nombre</label>
        <input type="text" pInputText id="newName" [(ngModel)]="selectedUser.name" required autofocus />
        <small class="p-error" *ngIf="!selectedUser.name">Nombre es requerido.</small>
    </div>
    <div class="field">
        <label for="newName">Email</label>
        <input type="text" pInputText id="newEmail" [(ngModel)]="selectedUser.email" required autofocus />
        <small class="p-error" *ngIf="!selectedUser.email">Email es requerido.</small>
    </div>
    <div class="field">
        <label for="inventoryStatus">Inventory Status</label>
        <p-dropdown [(ngModel)]="selectedUser.status" inputId="inventoryStatus" [options]="statusList" placeholder="Select">
            <ng-template let-option pTemplate="item">
                <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
        </p-dropdown>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="editDialogUser(selectedUser)"></button>
        <button pButton pRipple label="Editar" icon="pi pi-check" class="p-button-text" (click)="editUser(selectedUser)"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog header="Confirmación" width="425"></p-confirmDialog>
<p-toast></p-toast>